/*aspect Généal*/

body{
  display: flex;
  flex-direction: column;
  font-family: 'century gothic', calibri, serif;
  font-size: 13px;
  margin: 0px;/*reset des marges pour palier aux marges automatiques des navigateurs*/
  padding: 0px;
}
.contact{
  float: right;
  margin-right: 50px;
}
img{
  max-width: 100%;
  height: auto;
}

p, h3{
  font-size: 20px;
}
/* mise en forme général du header, footer et de notre titre général*/
h1{
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
/* Style header et footer*/
header{
  position: fixed;       /*pour garder le menu visible qud on defile la page*/
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background-color: white;
}

footer{
  height: 80px;
  padding-top: 30px;
  text-align: center;
  background-color: #7F85A8;
  border-top: 4px solid #AAA;
}
/*reset des marges pour palier aux marges automatiques des navigateurs*/
nav ul{
  margin: 0px;
  padding: 0px;
}
/*extention de la barre de menu à toute la largeur de la page*/
nav{
  position: fixed;   /*pour garder le menu visible qud on defile la page*/
  top: 100px;
  z-index: 1000;
  width: 100%;
  background-color: #424558;
}
/*nous allons enlever les puces de notre liste menu et les aligner horizontalement*/
nav li{
  list-style-type:  none;
  float: left;
}
/*Mise en forme des differents elements de liens de la barre de menus*/
nav a{
  display: inline-block; /*structure de base pour travailler sur leur forme*/
  text-decoration: none; /* on retire les soulignement par defaut*/
  padding: 20px 30px; /*pour avoir une case totalement cliquable*/
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}
.table{
  display: table; /*pour rendre une consistance et une hauteur à notre élément qui est en float*/
  margin: 0 auto; /* pour centrer les éléments de notre menu*/
}
.menu-hob:hover, .menu-ind:hover, .menu-exp:hover, .bleu, .vert, .orange{
    border-top : 5px solid #0070bb;
    background-color: rgba(000, 112, 192, 0.2);
}
/*losqu'on passe la souris sur un menu, l'effet de la marge de 5px, decale vers le bas le texte du menu. on remet de nouvelles marges en tenant compte de cela*/
nav li:hover a{
    padding: 15px 30px;
}
article{
  position : relative;
  top: 158px;
}
.vert{
  border-top : 5px solid #1794AC;
  background-color: #DECAB5;
  animation-name: widthTrans2;
  animation-duration: 3s;
}

.orange{
  border-top : 5px solid ##69A6C2;
  background-color: #D5D5D1;   /*pour les section, on reprend les styles des menus quand on passait la souris dessus*/
  animation-name: widthTrans;
  animation-duration: 3s;
}

.bleu{
  border-top : 5px solid #1794AC;
  background-color: #C5B4A1;
  animation-name: widthTrans;
  animation-duration: 3s;
}
@-webkit-keyframes widthTrans{
  from {margin-left: 100%; width: 300%;}
  to {margin-left: 0%;
    width: 100%;}
  }
  @-webkit-keyframes widthTrans2{
    from {width: 1%;}
    to {width: 100%;}
  }

  section{
    width: 100%;
    min-height:300px;
    /*padding-bottom: 10px;
    margin-bottom: 0px;*/
  }
  .sec{
    margin: 0px 5%;
  }

  .left{
    display: inline-block;
    float: left;
    width: 30%;
  }

  .right{
    margin-left: 2px;
    float: right;
    width: 65%;
  }

  .leftexp{
    float: left;
    width: 70%;
  }

  .rightexp{
    float: left;
    width: 30%;
  }

  .topexp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /* Barres de skill */
  .container {
    width: 80%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  .skills {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  span{
    float: right;
  }
  .html {
    width: 90%; background-color: #4CAF50;
    } /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .js {width: 65%; background-color: #f44336;} /* Red */
  .php {width: 60%; background-color: #808080;} /* Dark Grey */
  .cleft, .cright, .sousleft, .sousright{
    float:left;
    width: 50%
  }

  /* le code suivant sert à eviter que les parties flotantes et les parties fixes ne se melangent*/
  .sec::after, .exp::after{
    content: "";
    display: table;
    clear: both;
  }
  /*Partie responsive pour s'adapter à tous les ecrans*/

  @media screen and (max-width: 780px){
    header{height: 50px;}
    h1{
      font-size: 28px;
      margin: 20px 0px 0px 0px;
    }
    nav li a{
      font-size: 12px;
      padding: 10px;
    }
    nav li:hover a{padding: 5px 10px 10px 10px;}
    .sec{
      margin: 0px 5%;
    }
  }
